<button [routerLink]="['/lista']">Lista de películas</button>
<div class="formulario">
    <h2>Edita tu película</h2>
    <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput placeholder="Ejemplo: La Amenaza Fantasma" formControlName="titulo">
        </mat-form-field>
        <p class="error" *ngIf="formulario.controls.titulo.errors?.required&&formulario.controls.titulo.touched">
            El campo Título es necesario
        </p>
        <mat-form-field>
            <mat-label>Fecha de estreno</mat-label>
            <input matInput placeholder="Ejemplo: 01/01/2021" formControlName="fechaDeEstreno">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.fechaDeEstreno.errors?.required&&formulario.controls.fechaDeEstreno.touched">
            El campo Fecha de estreno es necesario
        </p>
        <mat-form-field>
            <mat-label>Recaudación</mat-label>
            <input matInput placeholder="Ejemplo: La Amenaza Fantasma" formControlName="recaudacion">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.recaudacion.errors?.required&&formulario.controls.recaudacion.touched">
            El campo Recaudación es necesario
        </p>
        <p>Dirección:</p>
        <mat-form-field>
            <mat-label>Nombre del director</mat-label>
            <input matInput placeholder="Nombre de ejemplo: George" formControlName="nombreDirector">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.nombreDirector.errors?.required&&formulario.controls.nombreDirector.touched">
            El campo Nombre del director es necesario
        </p>
        <mat-form-field>
            <mat-label>Apellido del director</mat-label>
            <input matInput placeholder="Apellido de ejemplo: Lucas" formControlName="apellidoDirector">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.apellidoDirector.errors?.required&&formulario.controls.apellidoDirector.touched">
            El campo Apellido del director es necesario
        </p>
        <mat-form-field>
            <mat-label>Género</mat-label>
            <input matInput placeholder="Ejemplo: La Amenaza Fantasma" formControlName="genero">
        </mat-form-field>
        <p class="error" *ngIf="formulario.controls.genero.errors?.required&&formulario.controls.genero.touched">
            El campo Género es necesario
        </p>
        <mat-form-field>
            <mat-label>Productora</mat-label>
            <input matInput placeholder="Ejemplo: 01/01/2021" formControlName="productora">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.productora.errors?.required&&formulario.controls.productora.touched">
            El campo Productora es necesario
        </p>
        <p>Reparto principal:</p>
        <mat-form-field>
            <mat-label>Nombre actor/actriz principal</mat-label>
            <input matInput placeholder="Ejemplo: George" formControlName="nombreActor1">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.nombreActor1.errors?.required&&formulario.controls.nombreActor1.touched">
            El campo Nombre actor/actriz 1 es necesario
        </p>
        <mat-form-field>
            <mat-label>Apellido actor/actriz principal</mat-label>
            <input matInput placeholder="Ejemplo: Clooney" formControlName="apellidoActor1">
        </mat-form-field>
        <p class="error"
            *ngIf="formulario.controls.apellidoActor1.errors?.required&&formulario.controls.apellidoActor1.touched">
            El campo Apellido actor/actriz 1 es necesario
        </p>
        <!-- <input type="submit" value="Actualizar"> -->
        <input type="submit" value="Actualizar" [disabled]="formulario.invalid">
    </form>
</div>